@font-face {
    font-family: "Programme Alt";
    font-weight: lighter;
    font-style: normal;
    src: local('Programme-Light-Alt'), url(../fonts/Programme/Programme-Light-Alt.otf) format('OpenType');
}

@font-face {
    font-family: "Px Grotesk";
    font-weight: lighter;
    font-style: normal;
    src: local('Px-Grotesk-Regular'), url(../fonts/Px-Grotesk/Px-Grotesk-Regular.ttf) format('TrueType');
}

@font-face {
    font-family: "Common Sans";
    font-weight: regular;
    font-style: normal;
    src: local('CommonSans-Regular'), url(../fonts/Common-Sans/CommonSans-Regular.otf) format('OpenType');
}
