#hero {
    max-width: 100%;
    height: 75vh;
    margin-top: calc(var(--n-h) + var(--s));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: height .5s;
}

#hero > h1 {
    text-align: center;
    margin: 0 auto;
    max-width: 840px;
    padding: 0 var(--s);
    line-height: 1.5;

    white-space: nowrap;
}

#hero > p {
    text-align: center;
    padding: var(--s) calc(var(--s) * 2);

    opacity: 0;
    transform: translateY(20px);
    transition: opacity .4s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform .4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

#hero > p.loaded {
    opacity: 1;
    transform: translateY(0px);
    transition: opacity .4s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform .4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

h1 > span > a {
    color: var(--c-1);
    transition: background-size .2s, color .4s, padding .2s;

    padding: 0 calc(var(--s) / 4) calc(var(--s) / 6) calc(var(--s) / 4);

    background: 
        linear-gradient(to bottom, var(--c-1) 0%, var(--c-1) 100%), 
        -webkit-linear-gradient(var(--c-1), var(--c-1a));

    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 100% 1.5px;
    transition: background-size .2s, color .2s, padding .2s;
}
h1 > span > a:hover {
    color: var(--c-b);

    background-size: 100% 100%;
    padding: 0 calc(var(--s) / 2) calc(var(--s) / 6) calc(var(--s) / 2);

    transition: background-size .2s, color .4s, padding .2s;
}

#hero > p a {
    color: var(--c-1);
    transition: background-size .2s, color .4s, padding .2s;

    padding: calc(var(--s) / 10) calc(var(--s) / 6) calc(var(--s) / 8) calc(var(--s) / 6);

    background: 
        linear-gradient(to bottom, var(--c-1) 0%, var(--c-1) 100%), 
        -webkit-linear-gradient(var(--c-1), var(--c-1a));

    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 100% 1px;
    transition: background-size .2s, color .2s, padding .2s;
}
#hero > p a:hover {
    color: var(--c-b);

    background-size: 100% 100%;
    padding: calc(var(--s) / 10) calc(var(--s) / 4) calc(var(--s) / 6) calc(var(--s) / 4);

    transition: background-size .2s, color .4s, padding .2s;
}

#hero > a#more-info {
    position: relative;
    padding: 0;
    height: 50px;
    
    display: flex;
    
    cursor: pointer;
    background: none;

    opacity: 1;
    transition: opacity .5s;
}
#hero > a#more-info.hidden {
    opacity: 0;
    transition: opacity .25s;
}
#hero > a#more-info > .more-info-container {
    position: relative;
    display: block;
    height: 100%;
    width: 60px;

    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    transition: transform .25s;
}
#hero > a#more-info:hover > .more-info-container {
    transition: transform .25s;
    transform: rotate(135deg) scale(1.35);
}
#hero > a#more-info:hover > .more-info-container > .btn-line {
    height: 2px;
    transition: transform .25s, height .2s;
    transform: rotate(135deg) scale(1);
}
#hero > a#more-info:hover > .more-info-container > .btn-line:nth-child(2) {
    height: 2px;
    transition: transform .25s, height .2s;
    transform: rotate(225deg) scale(1);
}

.btn-line {
    height: 3px;
    width: 20px;
    
    background-color: var(--c-1);
}
.btn-line:nth-child(2) {
    position: absolute;
    transform: rotate(90deg);
}

#showcase > a.prj-href {
    pointer-events: none;
}
#showcase > a.prj-href > .prj {
    margin-bottom: var(--s);
}

.prj > .prj-cover {
    cursor: pointer;

    height: 420px;
    width: 100%;

    margin: 0 auto;
    pointer-events: fill;
    overflow: hidden;
    
    border-radius: 3px;
    background-color: #444451;
    
    box-shadow: var(--sha);
    
    transition: transform .5s, box-shadow .5s, border-radius .5s;
}
.prj.focus > .prj-cover {
    box-shadow: 
        0px 10px 20px rgba(0, 0, 0, 0.15),
        0px 02px 06px rgba(0, 0, 0, 0.175)
    ;
    transform: scale3D(1.02, 1.02, 1) translate3D(0, -10px, 0);
    /* height: 520px; */

    transition: transform .5s, box-shadow .5s;
}
.prj > .prj-cover > video {
    position: relative;
    height: auto;
    width: 100%;
    top: 50%;
    border-radius: 3px;
    transform: translateY(-50%);
}

.prj > .prj-data {
    pointer-events: none;

    padding: calc(var(--s) / 3) var(--s) 0 var(--s);

    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;

    opacity: 0;
    transition: opacity .5s, margin-bottom .5s, transform .5s;
}
/* when project is hovered (has .focus class), then prj-data... */
.prj.focus > .prj-data {
    pointer-events: none;
    
    opacity: 1;
    margin-bottom: var(--s);
    transform: translateY(-10px);
    transition: opacity .5s, margin-bottom .5s, transform .5s;
}

.prj > .prj-data > h2 {
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
}


@media (min-width: 767px) and (max-width: 1090px) {
    #hero > h1 {
        padding: auto;
    }
    .prj-href > .prj > .prj-cover {
        display: flex;
        justify-content: center;
        align-content: center;
        
        height: 45vw;
        width: 100%;
    }
    .prj-href > .prj > .prj-cover > video {
        object-fit: cover;
    }
}

@media (max-width: 766px) {
    #hero {
        height: 60vh;
    }
    #hero > h1 {
        white-space: initial;
    }

    .prj-href > .prj > .prj-cover {
        display: flex;
        justify-content: center;
        align-content: center;
        
        height: 70vw;
        width: 100%;
    }

    .prj-href > .prj > .prj-cover > video {
        object-fit: cover;
    }

    .prj > .prj-data {
        padding: calc(var(--s) / 3) 0 0 0;
    }
    .prj > .prj-data > :nth-child(1) {
        display: none;
    }
}

@media (max-width: 380px) {
    #hero > h1 {
        font-size: 1.7rem;
    }
}