@font-face {
    font-family: "ibm-plex";
    src: url("plex.woff") format("woff");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family:"stevie-sans";
    src:url("https://use.typekit.net/af/8e6175/000000000000000000017384/27/l?subset_id=2&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/8e6175/000000000000000000017384/27/d?subset_id=2&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/8e6175/000000000000000000017384/27/a?subset_id=2&fvd=n4&v=3") format("opentype");
    font-style:normal;font-weight:400;
}

:root {
    --n-h: 48px;
    --s: 32px;
    --c-1: #333338;
    --c-1a: #333338a0;
    --c-b: #C9C9C9;

    --mw: 1020px;
    --sha: 1px 1px 24px #0000001a, 0px 02px 06px #00000022;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--c-b);
    color: var(--c-1);
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: stevie-sans, Helvetica, Arial, sans-serif;
    font-family: ibm-plex, stevie-sans, Helvetica, Arial, sans-serif;
    font-weight: 300 !important;
    font-style: normal;
    line-height: 1.5;
}

h1 {
    position: relative;
    font-weight: 300;
    font-size: 2.15rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: var(--c-1);
}
a:visited {
    color: var(--c-1);
}

p {
    font-size: 1.25rem;
}

#wrapper {
    width: 100%;
    height: auto;
    
    opacity: 0;
    transition: opacity .5s;
}
#wrapper.show {
    opacity: 1;
    transition: opacity .5s;
}

#nav {
    position: fixed;
    width: 100%;
    min-height: var(--n-h);
    top: 0;

    mix-blend-mode: difference;

    z-index: 1000;
}
#nav > #nav-els > *,
#nav > #sub-nav > * {
    color: white;
    font-size: 1.25rem;
}
#nav > #nav-els {
    height: var(--n-h);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    z-index: 100;

    padding: calc(var(--s) / 4) var(--s) 0 var(--s);
}
#nav > #nav-els > :nth-child(1) {
    justify-self: self-start;
}
#nav > #nav-els > :nth-child(3) {
    justify-self: self-end;
}
#nav > #nav-els > a {
    text-decoration: none;
}
#nav > #nav-els > #burger {
    width: 24px;
    padding: calc(var(--s) / 4);
    height: auto;

    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
#nav > #nav-els > #burger > .patty {
    width: 100%;
    height: 2px;
    display: block;
    margin: 4px 0px;

    background-color: white;

    transition: transform .25s;
}
#nav > #nav-els > #burger.open > .patty {
    transition: transform .25s;
}
#nav > #nav-els > #burger.open > .patty:nth-child(1) {
    transform: rotate(-45deg) translate(-3.5px, 3.5px);
}
#nav > #nav-els > #burger.open > .patty:nth-child(2) {
    transform: rotate(45deg) translate(-3.5px, -3.5px);
}

#nav > #sub-nav {
    height: var(--n-h);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
    z-index: 90;
    padding: 0 var(--s) calc(var(--s) / 4) var(--s);
    
    opacity: 0;
    transform: translateY(-100%);
    transition: transform .5s, opacity .25s;
}
#nav > #sub-nav.show {
    pointer-events: all;

    opacity: 1;
    transform: translateY(0%);
    transition: transform .5s, opacity .25s .15s;
}

#showcase {
    margin: calc(var(--n-h) + var(--s)) auto calc(var(--s) * 2) auto;
    padding: 0 var(--s) calc(var(--s) * 2) var(--s);

    max-width: var(--mw);
}

#about-btn {
    cursor: pointer;
}

#about {
    height: 100%;
    opacity: 0;
    background-color: var(--c-b);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 500;
    overflow: hidden;

    pointer-events: none;
    
    transition: height .5s, transform .5s, opacity .25s;
    transform: translateY(-50%);
}
#about.open {
    height: 100%;
    opacity: 1;
    
    overflow-y: auto;

    pointer-events: all;
    
    transition: height .5s, transform .5s, opacity .35s;
    transform: translateY(0%);
}

.about-container {
    color: var(--c-1);
    transition: opacity .25s;

    margin: 0 auto;
    padding: calc(var(--s) * 2);
    max-width: var(--mw);

    font-size: 1.035rem;
    line-height: 1.75;
}

.about-container > .about-title {
    width: 100%;
    display: block;
    font-size: 3em;
    padding: calc(var(--s) * 2) 0;
}

.about-container > .about-desc {
    display: grid;
    grid-template-columns: 1fr 1fr .65fr;
    grid-gap: calc(var(--s) * 1.2);
}

.about-container > .about-desc > .profile-pic {
    height: auto;

    justify-self: center;
}
.about-container > .about-desc > .profile-pic > img {
    max-width: 100%;

    margin: 0 auto;
}

.about-container > .about-desc > .about-text,
.about-container > .about-desc > .about-resume {
    position: relative;
    padding: 0;
}

.about-container > .about-desc > .about-text > p {
    margin: 0 0 calc(var(--s) / 2) 0;
}

.about-container > .about-desc > .about-resume > .about-resume-entry {
    margin-bottom: var(--s);
}

@media (min-width: 767px) and (max-width: 1090px) {
    :root {
        --mw: 100%;
    }
    html, body {
        font-size: 1rem;
    }
    .about-container {
        max-width: 600px;
    }
    .about-container > .about-desc {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: calc(var(--s) * 1.2);
    }
    .about-container > .about-desc > .about-resume {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 766px) {
    :root {
        --s: 16px;
    }
    html, body {
        font-size: .95rem;
    }
    p {
        font-size: 1.15rem;
    }
    .about-container > .about-title {
        line-height: 1.25;
    }
    .about-container > .about-desc {
        display: grid;
        grid-template-columns: 1fr;
    }    
}