:root {
    --bg: #f8f8f8;
    --main: black;
    --pad: 32px;
    --font-size: 32px;
    --font-wght: 100;
    --font-wdth: 110;   /* da 0 a 200 */
    --factor: 1;
    --wdthTransition: .25s;
    --bezier: cubic-bezier(0.85, -1.00, 0.0, 1.00);
}

*  {
    font-family: 'Akkurat-Light';
    font-weight: lighter;
    letter-spacing: 0;
    font-size: var(--font-size);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-feature-settings: "kern" on;
    -moz-font-feature-settings: "kern" on;
    -webkit-font-feature-settings: "kern" on;
    -ms-font-feature-settings: "kern" on;
    -o-font-feature-settings: "kern" on;

    -o-transition: 
        letter-spacing 
        calc(var(--wdthTransition) * 3) 
        var(--bezier);
    -ms-transition: 
        letter-spacing 
        calc(var(--wdthTransition) * 3) 
        var(--bezier);
    -moz-transition: 
        letter-spacing 
        calc(var(--wdthTransition) * 3) 
        var(--bezier);
    -webkit-transition: 
        letter-spacing 
        calc(var(--wdthTransition) * 3) 
        var(--bezier);
    transition: 
        letter-spacing 
        calc(var(--wdthTransition) * 3) 
        var(--bezier);
}
html, body {
    margin: 0; padding: 0;
    background-color: var(--bg);
    color: var(--main);
    
/*    line-height: 1.5em;*/
}
#main {
    transition: opacity .25s linear;
    opacity: 1;
}
#main.t-fade {
    opacity: 0;
}

/*         ---          */
/*      TYPOGRAPHY      */
/*                      */
h1 {
    display: inline-block;
    line-height: 1.5em;
    margin: 0px;
}

a {
    position: relative;
    text-decoration: none;
    color: var(--main);

    line-height: 1em;
}
a:visited {
    color: var(--main);
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
    display: inline;
}
li {
    list-style: none;
    list-style-type: none;
}

/*         END          */
/*      TYPOGRAPHY      */
/*         ---          */


#wrapper {
    width: 100%;
    height: 100%;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10%;
    margin: 0 auto;
    list-style: none;
    height: 90vh;
}
.hero > #title {
    padding-top: 8vh;
}
.social {
    display: inline-block;
}
.link {
    margin-right: .5em;
    margin-bottom: .5em;

    cursor: alias;
}
.link:after {
    position: absolute;
    content: '';
    height: 1px;
    /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
    bottom: -8px; 


    /****** 
    optional values below 
    ******/

    /*   center - (optional) use with adjusting width   */
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100%;
    background: var(--main);

    /* optional animation */
    -o-transition: var(--wdthTransition) var(--bezier);
    -ms-transition: var(--wdthTransition) var(--bezier);
    -moz-transition: var(--wdthTransition) var(--bezier);
    -webkit-transition: var(--wdthTransition) var(--bezier);
    transition: var(--wdthTransition) var(--bezier);
}
.link:hover:after {
    width: 120%;
    left: -10%;

    -o-transition: var(--wdthTransition) var(--bezier);
    -ms-transition: var(--wdthTransition) var(--bezier);
    -moz-transition: var(--wdthTransition) var(--bezier);
    -webkit-transition: var(--wdthTransition) var(--bezier);
    transition: var(--wdthTransition) var(--bezier);
}
#bars {
    height: 30px;
    margin: 0;
    position: relative;
    display: inline-block;
    width: 40px;
}
.bar {
    background: var(--main);
    bottom: 0px;
    height: 3px;
    position: absolute;
    width: 2px;      
    animation: sound 0ms -800ms linear infinite alternate;
}
@keyframes sound {
    0% {
        opacity: .25;
        height: 3px; 
    }
    100% {
        opacity: 1;       
        height: 18px;        
    }
}
.bar:nth-child(1)  { left: 0px; animation-duration: 474ms; }
.bar:nth-child(2)  { left: 7px; animation-duration: 433ms; }
.bar:nth-child(3)  { left: 14px; animation-duration: 407ms; }



/*                              */
/*          PROJECTS            */
/*                              */

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: var(--pad);

    color: var(--main);

    padding: var(--pad);
    margin-bottom: calc(var(--pad) * 0);
}
.project {
    overflow: hidden;
    max-width: 1920px;
    display: block;

    border-radius: 2px;
    /* box-shadow: 0 .5rem .5rem rgba(127, 142, 170, .32); */
}
.project > .project-link > .img {
    width: 100%;
}
.project.big {
    grid-column: 1 / 3;
    height: calc(100vh - (var(--pad) * 2));
}
.project.dark {
    border: solid 1px rgba(255,255,255,0.15);
}
.project-link {
    display: block;
}


/*             ---              */
/*            MEDIA             */
/*           QUERIES            */

@media only screen and (min-width: 801px && max-width: 960px) {
    .hero > #title {
        margin: 0;
        padding-top: 8vh;
        padding-bottom: calc(var(--pad) * 0);
    }
}

@media only screen and (max-width: 768px) {
    ul {
        display: inline;
    }
}

@media only screen and (max-width: 736px) {
    :root {
        --pad: 12px;
        --font-size: 24px;
    }
    ul {
        display: block;
    }
    .link {
        margin-bottom: 1em;
    }
    .content {
        grid-template-columns: 1fr;
    }
    .project {
        grid-column: 1 / 3;
    }
    .project.big {
        height: auto;
    }
}

@media only screen and (max-width: 320px) {
    :root {
        --font-size: 22px;
    }
}