.menu-button {
  z-index: 999;
  position: relative;
  width: 22px;
  height: 24px;
  cursor: pointer;
}
.menu-button,
.menu-button.open {
  will-change: transform;
  transition: transform 350ms cubic-bezier(0, 0, 0, 1);
}
.menu-button::before,
.menu-button::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.5px;
  background-color: var(--c-txt);
  will-change: transform, background-color;
  transition: transform 350ms 150ms cubic-bezier(0, 0, 0, 1),
    background-color 350ms 150ms cubic-bezier(0, 0, 0, 1);
}
.menu-button::before {
  top: 30%;
}
.menu-button::after {
  bottom: 30%;
}

.menu-button.open::before,
.menu-button.open::after {
  transition: transform 350ms cubic-bezier(0, 0, 0, 1),
    background-color 350ms cubic-bezier(0, 0, 0, 1);
}

.menu-button.open::before {
  background-color: var(--c-bg);
  transform: translateY(4px) rotate(-45deg);
}
.menu-button.open::after {
  background-color: var(--c-bg);
  transform: translateY(-4px) rotate(45deg);
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: auto;
  max-width: 640px;
  background-color: var(--c-txt);
}

.menu .menu-content {
  height: 100%;
  margin: 0 5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 2rem;
}

.menu-content,
.menu-content a {
  color: var(--c-bg);
}

.menu .menu-content > div.menu-project a {
  position: relative;
  color: var(--c-bg);
  border-radius: 1rem;
}
.menu .menu-content > div a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: var(--c-bg);
  will-change: transform;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s cubic-bezier(0.25, 0, 0, 0.85);
}
.menu .menu-content > div a:hover::after {
  transform: scaleX(1);
  will-change: transform;
  transform-origin: left;
  transition: transform 0.25s cubic-bezier(0.25, 0, 0, 0.85);
}

.menu .menu-content .menu-section:not(:last-child) {
  padding-bottom: 2rem;
}

.menu .menu-content .menu-section .menu-title:first-child:not(:last-child),
.menu .menu-content .menu-project:not(:last-child) {
  padding-bottom: 1rem;
}

.menu .menu-content .menu-section .menu-title {
  color: var(--c-bg-alpha);
}

.menu .menu-content .menu-project.current {
  margin-left: 2rem;
}
.menu .menu-content .menu-project.current::before {
  content: '—';
  position: absolute;
  left: -2rem;
}

.menu-overlay {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: w-resize;
}

@media (max-width: 640px) {
  .menu {
    width: 100%;
  }
  .menu .menu-content {
    margin: 0 2rem;
  }
  .menu-overlay {
    display: none;
  }
}

/* @media (max-width: 480px) {
  .menu-button {
    position: fixed;
    bottom: calc(var(--p-side) * 2);
    right: calc(var(--p-side) * 2);
    background-color: var(--c-bg);
  }
} */
