.home.hero {
  max-width: var(--w-xl-max);
  margin: 0 auto;
  padding: calc(var(--p-side) * 6) var(--p-side) calc(var(--p-side) * 3);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.all-projects {
  padding: calc(var(--p-side) * 4) 1rem;
}

.projects-list {
  max-width: var(--w-xl-max);
  /* display: grid;
  grid-template: 1fr / 1fr;
  grid-gap: calc(var(--p-side) * 4); */
  margin: calc(var(--p-side) * 6) auto 0;
}

.project {
  width: 100%;
  margin: 6rem 0;
  display: table;
}

.featured.project {
  width: 100%;
  max-width: var(--w-xl-max);
  margin: 0 auto calc(var(--p-side) * 6);
}
.featured.project .cover {
  max-height: 640px;
}
/* 
.project:not(:first-child):nth-child(4n + 2),
.project:not(:first-child):nth-child(4n + 3) {
  margin-top: 12rem;
}
 */
.project:first-child {
  margin-top: 0;
}

.project:last-child {
  margin-bottom: 0;
}

.project .cover {
  position: relative;
  height: 70vh;
  background-color: #fff;
  margin-bottom: 1.25rem;
  overflow: hidden;
  max-height: 640px;
}
.project .cover img,
.project .cover video {
  width: 100%;
  height: 100%;
  max-height: 640px;
  object-fit: cover;
}

.project .cover img {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.project .cover video {
  position: relative;
  z-index: 2;
}

.project .info .left,
.project .info .right {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 0.5rem;
}

.project .info .faded {
  transition: color var(--transition-props);
}

.project .info .duration {
  white-space: nowrap;
  align-self: baseline;
  text-align: end;
}

.project .info .title {
  position: relative;
  margin: 0.5rem 0 1rem;
}
.project a .info {
  color: var(--c-txt);
  transition: color var(--transition-props);
}
.project a:hover .info,
.project a:hover .info .faded {
  color: var(--c-acc);
  transition: color var(--transition-props);
}

.project .tags .tag {
  display: inline;
  white-space: nowrap;
  /* font-size: 0.9rem; */
}

.wip {
  display: inline-block;
  width: 0.65rem;
  height: 0.65rem;
  margin-left: 0.35rem;
  border-radius: 100%;
  background-color: red;
  animation: blink 2.5s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* .project .tags .tag:not(:last-child)::after {
  content: ' — ';
} */

@media (max-width: 920px) {
  .hero h1 {
    margin: 0;
    line-height: 1.5;
    font-size: 2rem;
    white-space: normal;
  }
  .hero a {
    padding: 0;
  }

  .projects-list {
    display: block;
    margin: calc(var(--p-side) * 2) 0 0;
  }

  .featured.project .cover,
  .project .cover {
    height: 40vh;
  }

  .featured.project,
  .project {
    margin: 2rem 0;
  }

  .project .info .left {
    font-size: 0.8rem;
  }
  .project .info .duration {
    display: none;
  }
}

@media (max-width: 480px) {
  .project .info {
    display: flex;
    flex-direction: column;
  }

  .project .info h2.title {
    margin-bottom: 0.5rem;
  }

  .project .info .title {
    margin-top: 0;
  }

  .project .info .faded.caption {
    margin-bottom: 0.5rem;
  }

  .project .info .tags .tag {
    display: inline-block;
  }

  .project .info .left,
  .project .info .right {
    display: block;
    margin-top: 0.5rem;
  }
  .project .info .left {
    order: 2;
  }
  .project .info .right {
    order: 1;
  }

  .project .info .left > * {
    margin-bottom: 0.5rem;
  }

  .project .info .left,
  .project .info .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    margin-top: 0;
  }
}
