.hero {
  max-width: var(--w-xl-max);
  margin: 0 auto;
  height: calc(60vh - (var(--h-nav) + var(--m-nav) * 2 + var(--p-side)));
  padding: var(--p-side);
  padding-bottom: calc(var(--p-side) * 4);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.hero h1 {
  margin: 0.25rem 0;
  white-space: nowrap;
  will-change: transform;
}

.hero a {
  padding: 0 0.5rem;
  color: var(--c-acc);
  transition: color var(--transition-props);
}
.hero a:hover {
  color: var(--c-bg);
  transition: color var(--transition-props);
}
.hero a::before {
  z-index: -1;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1.5px;
  background-color: var(--c-acc);
  transition: height var(--transition-props);
}
.hero a:hover::before {
  height: 100%;
  transition: height var(--transition-props);
}

.all-projects {
  padding: calc(var(--p-side) * 4) 1rem;
}

.projects-list {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  grid-gap: calc(var(--p-side) * 4);
  margin: calc(var(--p-side) * 4) 0 0;
}

.project {
  margin: 2rem 0;
  display: table;
}

.featured.project {
  max-width: var(--w-xl-max);
}
.featured.project .cover {
  height: 70vh;
}

.project:not(:first-child):nth-child(4n + 2),
.project:not(:first-child):nth-child(4n + 3) {
  margin-top: 12rem;
}

.project:first-child {
  margin-top: 0;
}

.project:last-child {
  margin-bottom: 0;
}

.project .cover {
  height: auto;
  background-color: #fff;
  margin-bottom: 1.25rem;
  overflow: hidden;
}
.project .cover img,
.project .cover video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project .info .caption,
.project .info .title {
  display: table;
}

.project .info .caption {
  opacity: 0.5;
}

.project .info .title {
  position: relative;
  margin: 0.5rem 0 1rem;
}
.project a .info {
  color: var(--c-txt);
  transition: color var(--transition-props);
}
.project a:hover .info {
  color: var(--c-acc);
  transition: color var(--transition-props);
}
