.project-hero {
  margin: 0 auto;
  max-width: var(--w-xl-max);
  min-height: calc(60vh - (var(--h-nav) + var(--m-nav) * 2 + var(--p-side)));
  padding: calc(var(--p-side) * 2) var(--p-side) var(--p-side);
  display: flex;
  justify-content: space-between;
}

.project-hero > .project-meta {
  margin-right: 4rem;
  align-self: baseline;
}

.project-hero > .project-meta h1 {
  margin: 1rem 0;
}

.project-hero > .project-meta span {
  color: var(--c-txt-alpha);
}

.project-hero > .project-info {
  max-width: calc(var(--w-max) / 1.5);
  line-height: 1.5;
  align-self: baseline;
}

.project-hero > .project-info > div {
  display: grid;
  grid-template: 1fr / minmax(140px, auto) 1fr;
}

.project-hero > .project-info > div > * {
  align-self: baseline;
}

.project-hero > .project-info a {
  cursor: alias;
  color: var(--c-acc);
  transition: color var(--transition-props);
  text-decoration: underline;
}

.project-hero > .project-info ul {
  position: relative;
  padding-inline-start: 1.5rem;
  list-style-type: none;
}

.project-hero > .project-info ul li::before {
  content: '—';
  position: absolute;
  left: 0;
}

.project-content {
  max-width: var(--w-xl-max);
  margin: 4rem auto 8rem;
  padding: 0 1rem;
}

.project-content .section {
  padding: 2rem 0;
  margin: 0 0 2rem;
}
.project-content .section:last-child {
  margin-bottom: 0;
}

.project-content figcaption {
  display: inline-block;
}

.project-content .external-link-image a {
  display: inline-block;
  cursor: alias;
}
.project-content .external-link-image figcaption {
  text-decoration: underline;
}
.project-content .external-link-image figcaption::after {
  content: '↗';
}

.project-content .featured-image {
  margin: 0 auto;
}

.project-content .image-container,
.project-content .single-gallery-image {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.project-content .video video {
  max-height: calc(80vh - var(--h-nav));
}

.project-content .image-container img,
.project-content .single-gallery-image img,
.project-content .video video {
  width: 100%;
}

.project-content .image-container img,
.project-content .single-gallery-image img {
  object-fit: cover;
  object-position: 50% 50%;
  max-height: calc(80vh - var(--h-nav));
}

.project-content .gallery {
  display: grid;
  grid-gap: 1rem;
}

.project-content .gallery .single-gallery-image {
  display: flex;
  flex-direction: column;
}
.project-content .gallery .single-gallery-image .image-container {
  flex-grow: 1;
}

.project-selector {
  max-width: var(--w-xl-max);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.project-selector .selector {
  box-sizing: border-box;
  padding: 0 var(--p-side);
}
.project-selector .selector.previous a {
  cursor: w-resize;
}
.project-selector .selector.next a {
  cursor: e-resize;
}
.project-selector .selector h2 {
  margin: 0;
  padding: 0.25rem 0;
}

@media (max-width: 920px) {
  .project-hero {
    display: block;
    padding: var(--p-side);
  }
  .project-hero .project-meta {
    margin: 0 0 4rem;
  }
}

@media (max-width: 480px) {
  .project-hero > .project-info > div {
    display: block;
    margin-bottom: 3rem;
  }

  .project-content {
    max-width: var(--w-xl-max);
    margin: 0rem auto 3rem;
    padding: 0 1rem;
  }

  .project-content .gallery {
    grid-template-columns: 1fr !important;
    grid-template-rows: auto;
    grid-gap: 2rem;
  }
}
