.project-hero {
  margin: 0 auto;
  max-width: var(--w-xl-max);
  min-height: calc(60vh - (var(--h-nav) + var(--m-nav) * 2 + var(--p-side)));
  padding: calc(var(--p-side) * 4) var(--p-side) var(--p-side);
  display: flex;
  justify-content: space-evenly;
}

.project-hero > .project-meta {
  margin-right: 4rem;
  align-self: baseline;
}

.project-hero > .project-meta h1 {
  white-space: nowrap;
  margin: 1rem 0;
}

.project-hero > .project-info {
  max-width: calc(var(--w-max) / 1.5);
  align-self: baseline;
}

.project-hero > .project-info > div {
  display: grid;
  grid-template: 1fr / minmax(140px, auto) 1fr;
}

.project-hero > .project-info > div > * {
  align-self: baseline;
}

.project-content {
  max-width: var(--w-xl-max);
  margin: 0 auto;
  padding: 0 1rem;
}

.project-content .section {
  margin: 2rem 0;
}
.project-content .section:last-child {
  margin-bottom: 0;
}

.project-content .external-link-image a {
  display: inline-block;
  cursor: alias;
}
.project-content .external-link-image figcaption {
  text-decoration: underline;
  margin: 1rem;
}
.project-content .external-link-image figcaption::after {
  content: '↗';
}

@media (max-width: 920px) {
  .project-hero {
    display: block;
    padding: var(--p-side);
  }
  .project-hero .project-meta {
    margin: 0 0 4rem;
  }
}

@media (max-width: 480px) {
  .project-hero > .project-info > div {
    display: block;
    margin-bottom: 3rem;
  }
}
