.about-main {
  max-width: var(--w-xl-max);
  margin: 0 auto;
  padding: 0 var(--p-side);
  display: flex;
}

.about-main :first-child {
  margin-right: 8rem;
}

.about-main .image-container {
  flex-shrink: 1;
}

.about-main-text {
  line-height: 1.5;
  max-width: calc(var(--w-max) / 2);
}
