code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  position: relative;
  color: var(--c-txt);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Plex Light', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2.5rem;
}

@media (max-width: 1280px) {
  h1 {
    font-size: 2.75rem;
  }
  h2 {
    font-size: 1.8rem;
  }
}
